#aboutPhoto { float: left; max-width: 40%;}

article { min-height: 128px;}

footer p { font-size: 1.6em;}

.introduction { float: right; padding: 0px 16px 0px 16px; width: 60%;}
.introduction h1 { font-size: 3.8em; margin: 0;}
.introduction h2 { font-size: 1.8em; margin: 0;}
.introduction p { margin-top: 16px; font-size: 1.25em; text-align: justify;}

nav { height: 72px; }

nav ul { display: inline-block; float: left; text-align: center; width: 68%;}
nav ul li { display: inline-block; line-height: 72px;}
nav ul li a {
	display: block;
	color: #7f8c8d;
	font-size: 1.5em;
	width: 78px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
nav ul li a:hover { color: #e74c3c;}
nav .search {
	background: #FFF url('../img/search.png') no-repeat 10px 8px;
	border: 1px solid #95a5a6;
	border-radius: 2px;
	margin: 20px 8px 0 0;
	height: 32px;
	float: right;
	padding: 0 5px 0 35px;
	vertical-align: middle;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	width: 20px;
}
nav .search:focus { border: 1px solid #e74c3c; width: 176px;}

.posts { padding: 8px 16px 16px 72px; }

.site { min-height: 100%;	margin-bottom: -142px;}
